---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/usergroups.list?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - usergroups:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "usergroups": [
                {
                    "id": "S0KHTPHNE",
                    "team_id": "T029P2S9M",
                    "is_usergroup": true,
                    "is_subteam": true,
                    "name": "1511 Students",
                    "description": "User group to keep track of students in 1511 cohort",
                    "handle": "1511-students",
                    "is_external": false,
                    "date_create": 1453921182,
                    "date_update": 1453921182,
                    "date_delete": 0,
                    "auto_type": null,
                    "created_by": "U02MYKGQB",
                    "updated_by": "U02MYKGQB",
                    "deleted_by": null,
                    "prefs": {
                        "channels": [

                        ],
                        "groups": [

                        ]
                    },
                    "user_count": 21
                },
                {
                    "id": "S0KJW9WUX",
                    "team_id": "T029P2S9M",
                    "is_usergroup": true,
                    "is_subteam": true,
                    "name": "Staff",
                    "description": "List of Turing staff members",
                    "handle": "turing-staff",
                    "is_external": false,
                    "date_create": 1453946950,
                    "date_update": 1453946950,
        [...]
