---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/usergroups.users.list?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&usergroup=S0KHTPHNE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - usergroups:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "users": [
                "U09U4THDZ",
                "U0A34EN58",
                "U0BETH909",
                "U0BF3JD2Q",
                "U0DCF7XRC",
                "U0DCG71M0",
                "U0DCH2M9A",
                "U0DCJP1N0",
                "U0DCP9P7T",
                "U0DCPJ763",
                "U0DCTT597",
                "U0DDC9V70",
                "U0DF16TEH",
                "U0DFU543Y",
                "U0DK1AD28",
                "U0DSNJEKW",
                "U0E28NL2Z",
                "U0E5GRGF8",
                "U0E9ZQ6VB",
                "U0EAMF18C",
                "U0EBD7HPS"
            ]
        }
  recorded_at: Tue, 26 Apr 2016 21:19:19 GMT
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U09U4THDZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "user": {
                "id": "U09U4THDZ",
                "team_id": "T029P2S9M",
                "name": "brennan.h",
                "deleted": false,
                "status": null,
                "color": "4cc091",
                "real_name": "Brennan Holzclaw",
                "tz": "America\/Denver",
                "tz_label": "Mountain Daylight Time",
                "tz_offset": -21600,
                "profile": {
                    "first_name": "Brennan",
                    "last_name": "Holzclaw",
                    "title": "1511 - Recovering radio news\/morning show guy",
                    "skype": "",
                    "phone": "5732896070",
                    "image_24": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_24.jpg",
                    "image_32": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_32.jpg",
                    "image_48": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_48.jpg",
                    "image_72": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_72.jpg",
                    "image_192": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_192.jpg",
                    "image_512": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_512.jpg",
                    "image_1024": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_1024.jpg",
                    "image_original": "https:\/\/avatars.slack-edge.com\/2015-11-23\/15154183397_a976a5dc5b017a00854d_original.jpg",
                    "avatar_hash": "a976a5dc5b01",
                    "real_name": "Brennan Holzclaw",
                    "real_name_normalized": "Brennan Holzclaw",
                    "email": "brennanholtzclaw@gmail.com"
                },
                "is_admin": false,
                "is_owner": false,
                "is_primary_owner": false,
                "is_restricted": false,
                "is_ultra_restricted": false,
                "is_bot": false
            }
        }
  recorded_at: Tue, 26 Apr 2016 21:19:19 GMT
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0A34EN58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0BETH909
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0BF3JD2Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCF7XRC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCG71M0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCH2M9A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCJP1N0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCP9P7T
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCPJ763
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DCTT597
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DDC9V70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DF16TEH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DFU543Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DK1AD28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0DSNJEKW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0E28NL2Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0E5GRGF8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0E9ZQ6VB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0EAMF18C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
- request:
    method: get
    uri: https://slack.com/api/users.info?pretty=1&token=xoxp-2329094327-13425089316-36463681056-1dd5ce3d46&user=U0EBD7HPS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Oauth-Scopes:
      - identify,team:read,users:read,usergroups:read,im:write,reactions:write
   [...]
