<h1><%= @user.first_name %> <%= @user.last_name %> Admin Dashboard</h1>

<h3>Slack username: <%= @user.username %></h3>

<a href="/user_groups" class="btn btn-primary">See All User Groups</a><br><br>
<a href="/slack_users" class="btn btn-primary">See All Lunch Rouletters</a>
