<h1>Current Slack Lunch Rouletters</h1><br><br>

<a href="/<%= current_user.id %>", class="btn btn-primary">Back To User Profile</a><br><br>


<% cache do %>
  <div class="row">
        <%= render partial: "shared/slack_user", collection: @slack_users %>
  </div>
<% end %>
